# Güvenlik
SECRET_KEY=buraya_django_secret_key_gelecek
DEBUG=True

# E-Posta (Gmail)
EMAIL_HOST_USER=senin_mailin@gmail.com
EMAIL_HOST_PASSWORD=gmail_uygulama_sifren

# İyzico
IYZICO_API_KEY=iyzico_api_anahtarin
IYZICO_SECRET_KEY=iyzico_gizli_anahtarin

# Redis
REDIS_URL=redis_sunucu_url_adresin